@import "variables.css";

body {  
  display: block;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  place-items: center center;

  position: fixed;
  top: var(--header-height);
  
  height: calc(100vh - var(--header-height) - var(--footer-height));
  width: 100%;
  
  background-color: var(--background-color);
}

main  aside {
  display: grid;  
  place-items: start end;
}

main #AnimationCanvas {
  display: grid;
  place-items: center end;
  height: 100%;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color);    
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
