@import "variables.css";

footer {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  place-items: center center; 

  position: fixed;
  bottom: 0; 
  height: var(--footer-height);
  width: 100vw;

  padding-left: 1rem;
  margin: 0;

  background-color: var(--footer-colour);
}

@media screen and (max-width: 768px) {

  footer {  
    display: grid;
    grid-template-columns: 1fr;
    place-items: center center; 

    padding: 0;
    margin: 0;
  }  
}
