@import "variables.css";

header {
  display: grid;
  place-items: center center;

  position: fixed;
  top: 0;

  padding: 0;
  margin: 0;


  height: var(--header-height);
  width: 100vw;

  background-color: var(--header-colour);
}
